html, body {
	height: 100%;
}

body {
	background-color: #F5F5F5;
	font-family: Helvetica, serif;
	color: #333333;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

form {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
}

form > div {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px 0;
}

form > div > label {
	border: 2px solid #B2675C;
	background-color: #B2675C;
	padding: 10px;
}

form > div > input {
	flex: 1;
	padding: 10px 10px 11px 10px;
	border: 2px solid #B2675C;
}

form > button {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	border: 2px solid #B2675C;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.courses-masonry {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.course-card {
	width: 250px;
	height: 400px;
	margin: 40px;
	border: 1px solid grey;
}

img {
	display: block;
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.course-card-data > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 20px;
}

.course-card-data > div > p:first-child {
	margin-right: 20px;
}
