html, body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #78BCDB;
}

.wrapper {
	display: flex;
	align-items: left;
	flex-direction: column;
	width: 52%;
	background-color: #FFFFFF;
}

.header {
	height: 10%;
	width: 100%;
	background-color: #28639B;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header > p {
	font-size: 24px;
	font-weight: bold;
	font-family: helvetica;
	color: #FFFFFF;
}

.frame-body {
	margin: 20px;
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
}

.icon-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.label {
	font-size: 20px;
	font-family: helvetica;
	margin-bottom: 5px;
}

.icon {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #28639B;
}

.icon > * {
	color: white;
}

input {
	width: 100%;
	padding-left: 10px;
	font-size: 22px;
}

select {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	font-size: 20px;
}

button {
	background-color: #28639B;
	color: #FFFFFF;
	font-size: 22px;
	height: 50px;
	width: 75%;
	align-self: center;
	margin-top: 20px;
	cursor: pointer;
}

button:hover {
	background-color: #78BCDB;
	color: #000000;
}

.validation {
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
}

.validation > p {
	font-size: 20px;
	margin: 10px;
}

.result {
	width: 100%;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row > * {
	font-family: helvetica;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 0px;
}

@keyframes shrink {
	from { height: 180px; }
	to { height: 130px; }
}

.animation {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.animation > .col {
	height: 180px;
	width: 40px;
	background-color: #28639B;
	margin: 20px 15px 0px 15px;
	animation-name: shrink;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.col2 {
	animation-delay: 0.5s;
}

.col3 {
	animation-delay: 1s;
}
